title='ricky!'
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='keywords' content='ricky.codes,ricky codes,rmill,rmill.ca,ricky miller,ricky,miller,rickymiller.biz,ricky.expert,html5,wordpress,javascript,js,node,php,three.js,socket.io,webgl')
meta(name='description' content='Making the future web… today!')
meta(name='author' content='Ricky Miller')

meta(property='og:title' content='rmill')
meta(property='og:type' content='website')
meta(property='og:image' content='http://rmill.ca/assets/icon.png')
meta(property='og:url' content='http://rmill.ca/')
meta(property='og:site_name' content='rmill')
meta(property='og:description' content='Ricky Miller is an interactive designer/developer creating expressive, dynamic experiences for digital platforms.')
meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

link(href='favicon.ico' rel='shortcut icon' type='image/x-icon')

style.
  .content {
    visibility: hidden;
  }
