.top
  .banner
    .col
      span.me
        | Ricky Miller
      br
      em
        a(href="mailto:ricky.miller@gmail.com") ricky.miller@gmail.com
    .col
      | Is an interactive designer & developer
      br
      | in Toronto, ON. [
      a(href="https://www.google.ca/maps/place/Toronto,+ON" target="_blank") …
      | ]
    .col
      | Creating expressive, dynamic experiences
      br
      | for digital platforms.
    nav
      ul
        li
          a(href="#" data-to="capabilities" class="roll")
            span(data-title="capabilitie$") capabilitie$
        li
          a(href="#" data-to="brands" class="roll")
            span(data-title="brand$") brand$
        li
          a(href="#" data-to="more" class="roll")
            span(data-title="more…") more…
