div.social
    div.row
      a(href='https://twitter.com/rmill'  class='icon' target='_blank')
        span
          | &#xe286;
        span
          | Tweeter
      a(href='https://github.com/rmillr' class='icon' target='_blank')
        span
          | &#xe237;
        span
          | GitHugs
