div.social
    div.row
      a(href='https://twitter.com/rmill'  class='icon' target='_blank')
        span
          | &#xe286;
        span
          | Tweeter
      a(href='https://github.com/rmillr' class='icon' target='_blank')
        span
          | &#xe237;
        span
          | GitHugs
  p.fineprint
    small
      | Cobbled together with 
      a(href='http://harpjs.com/') Harp
      |  & 
      a(href='http://threejs.org/') Three.js
      br
      | File a bug on this site
