doctype html
html(lang='en' prefix='og:http://ogp.me/ns#')
  head

    != partial('partials/_header')
  
  body

    != partial('partials/_nav')
    
    .content
      section.capabilities

        != partial('markdown/_capabilities')

      section.brands

          h1 Brands

          p Through my experiences with various agencies, organizations and individuals I've been fortunate to have worked with the following people:

          div(class='gallery')
            div
              img(src='img/ae.png')
            div
              img(src='img/bb.png')
            div
              img(src='img/cbc.png')
            div
              img(src='img/ct.png')
            div
              img(src='img/marks.png')
            div
              img(src='img/sd.png')
            div
              img(src='img/slf.png')
            div
              img(src='img/telus.png')
            div
              img(src='img/uw.png')

      section.more

        != partial('markdown/_more')

        != partial('partials/_social')

    .wrap
      //- .loading Loading…
      .three
    
    != partial('partials/_footer')

