doctype html
html(lang='en' prefix='og:http://ogp.me/ns#')
  head

    != partial('partials/_header')
  
  body.loading

    != partial('partials/_nav')
    
    .content
      section.about

        != partial('markdown/_about')
        != partial('partials/_social')

      section.cv

          h1 CV:

          p Through my experiences with various agencies, organizations and individuals I've been fortunate to have worked with the following people:

          div(class='gallery')
            div
              img(src='img/ae.png')
            div
              img(src='img/bb.png')
            div
              img(src='img/cbc.png')
            div
              img(src='img/ct.png')
            div
              img(src='img/marks.png')
            div
              img(src='img/sd.png')
            div
              img(src='img/slf.png')
            div
              img(src='img/telus.png')
            div
              img(src='img/uw.png')

      section.skills

        != partial('markdown/_skills')

        p.fineprint
          small
            | This site was created with 
            a(href='http://harpjs.com/') Harp
            |  & 
            a(href='http://threejs.org/') Three.js
            br
            a(href='https://github.com/rmillr/mon-site/issues') File a bug on this site

    .wrap
      .three
    
    != partial('partials/_footer')

