doctype
html
  head
    title ricky.codes » 
      != title
    link(rel='stylesheet' href='/css/default.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/libs/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
  body.post
    h1= title
    .date= date
    .content
      != yield
script.
  var links = document.getElementsByTagName('a');
  Object.keys(links).map(function(e) {
    return links[e].setAttribute('target', '_blank');
  });
