.post
  margin 40px
  width 60%
  
  h1
    display block
    
  p
    margin 40px 0
  
  .date
    font-size 90%
    display inline-block
    background primary
    color white
    padding 6px 10px
    border-radius(4px)
  
  .content
    margin 20px 0
