.post
  margin 40px
  width 70%
  max-width 1000px
  
  h1
    display block
    
  p
    margin 40px 0
  
  .date
    font-size 90%
    display inline-block
    background secondary
    color white
    padding 6px 10px
    border-radius(4px)
  
  .content
    margin 20px 0

    pre, code
      background #F5F5F5
      padding 2px
      border-radius(4px)
      border 1px solid #DDD
      font-size 90%

    pre
      padding 5px 10px
      code
        padding 0
        border none
