.post
  width 94%
  margin 0 auto

  h1
    display block
    
  h2
    margin-bottom 0

  p
    margin 20px 0

  img
    max-width 100%

  small
    color grey
    font-size 12px
    font-style italic
  
  .date
    font-size 90%
    display inline-block
    background secondary
    color white
    padding 6px 10px
    border-radius(4px)
  
  .content
    width 100%
    max-width 100%

    .hljs
      color secondary

    .hljs-string
      color primary_tinted

    .hljs-keyword, .hljs-built_in
      color secondary_tinted

    pre, code
      background #F5F5F5
      padding 2px
      border-radius(4px)
      border 1px solid #DDD
      font-size 90%

    pre
      padding 5px 10px
      code
        padding 0
        border none
