border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

transition(n)
  -webkit-transition all n ease
  -moz-transition all n ease
  -ms-transition all n ease
  transition all n ease

perspective(n)
  -webkit-perspective n
  -moz-perspective n
  -ms-perspective n
  perspective n

perspective-origin(a,b)
  -webkit-perspective-origin a b
  -moz-perspective-origin a b
  -ms-perspective-origin a b
  perspective-origin a b

transform-origin(a,b)
  -webkit-transform-origin a b
  -moz-transform-origin a b
  -ms-transform-origin a b
  transform-origin a b

transform-style(s)
  -webkit-transform-style s
  -moz-transform-style s
  -ms-transform-style s
  transform-style s

backface-visibility(v)
  -webkit-backface-visibility v
  -moz-backface-visibility v
  backface-visibility v

translate(x,y,z,r)
  -webkit-transform translate3d(x,y,z) rotateX(r)
  -moz-transform translate3d(x,y,z) rotateX(r)
  -ms-transform translate3d(x,y,z) rotateX(r)
  transform translate3d(x,y,z) rotateX(r)
