@media only screen and (max-width: 960px)
  .banner .col
    display none

  .banner .col:first-child
    display inline-block
    float left

  .banner .col:first-child, nav
    margin 2%

  nav
    text-align right
    float right
    vertical-align top
    display inline-block

  nav li
    margin 4px 0 0 4px

@media only screen and (max-width: 760px)
  .gallery div
    width calc(100%/2)

  img.me
    width 100%

@media only screen and (max-width: 500px)
  .gallery div
    width 100%

  section
    padding 0 36px 20px 36px

  nav li
    display block
    margin-top 6px

  .content
    font-size 16px
