p.fineprint
  small
    | This site was created with 
    a(href='http://harpjs.com/') Harp
    |  & 
    a(href='http://threejs.org/') Three.js
    br
    a(href='https://github.com/rmillr/mon-site/issues') File a bug on this site
