doctype html
html(lang='en' prefix='og:http://ogp.me/ns#')
  head

    != partial('partials/_header')
  
  body.loading

    != partial('partials/_nav')
    
    .content
      section.about

        != partial('markdown/_about')
        != partial('partials/_social')

      section.cv

        != partial('partials/_cv')

      section.skills

        != partial('markdown/_skills')

        p.fineprint
          small
            | This site was created with 
            a(href='http://harpjs.com/') Harp
            |  & 
            a(href='http://threejs.org/') Three.js
            br
            a(href='https://github.com/rmillr/mon-site/issues') File a bug on this site

    .wrap
      .three
    
    != partial('partials/_footer')

