doctype html
html(lang='en' prefix='og:http://ogp.me/ns#')
  head

    != partial('partials/_header')
  
  body.loading

    != partial('partials/_nav')
    
    .content
      section.log

        h1 log:

        ul
        for post, slug in public.posts._data
          li
            h2
              span.date= post.date
              a(href='/posts/#{ slug }', data-log)= post.title

      section.about

        != partial('markdown/_about')
        != partial('partials/_social')

      section.cv

        != partial('markdown/_cv')

      section.skills

        != partial('markdown/_skills')
        != partial('partials/_fineprint')

    .wrap
      .three
    
    != partial('partials/_footer')

