doctype html
html(lang='en' prefix='og:http://ogp.me/ns#')
  head

    != partial('partials/_header')
  
  body.loading

    != partial('partials/_nav')
    
    .content
      section.about

        != partial('markdown/_about')
        != partial('partials/_social')

      section.cv

        != partial('markdown/_cv')

      section.skills

        != partial('markdown/_skills')
        != partial('partials/_fineprint')

    .wrap
      .three
    
    != partial('partials/_footer')

